<%= render "application/nav" %>

<div class="sm:flex sm:w-3/5 mx-auto p-5 sm:p-0 sm:mt-12 mb-12">
  <div class="mx-auto sm:w-2/3">
    <%= image_tag "neon-2.png", class: "w-full mx-auto rounded-t-lg" %>
    <div class="mx-auto p-5 mb-5 bg-white rounded-b-lg shadow-lg">
      <div id="basket_content">
        <% if @basket.empty? %>
          <%= render "baskets/empty_basket" %>
        <% else %>
          <ul>
            <% @basket.each do |key, value| %>
              <li id="basket_item_<%= key %>" class="mb-6 pb-4 border-b">
                <div class="flex justify-between items-start bg-white mb-1 py-2 px-4">
                  <div class="flex-grow">
                    <h3 class="sm:text-xl font-bold mb-4">
                      <span class="mr-1"><%= format_weight(value["weight"].to_i) %></span>
                      <%= value["product_name"] %>
                    </h3>
                    <ul class="flex flex-wrap sm:flex-row text-yellow-600 font-bold text-xs mt-2">
                      <li class="inline-block mr-2 mb-4 sm:mb-0">
                        <span class="bg-neutral-100 rounded-full px-2 py-1 whitespace-nowrap">🥓 <%= value["cure"].capitalize %> Cure</span>
                      </li>
                      <li class="inline-block mr-2 mb-4 sm:mb-0">
                        <span class="bg-neutral-100 rounded-full px-2 py-1 whitespace-nowrap">🔥 <%= value["smoke"].capitalize %></span>
                      </li>
                      <li class="inline-block">
                        <span class="bg-neutral-100 rounded-full px-2 py-1 whitespace-nowrap">🔪 <%= value["sliced"] %></span>
                      </li>
                    </ul>
                  </div>
                  <div class="flex items-center">
                    <p class="sm:text-xl font-bold"><%= number_to_currency(value["price"]/100.0, unit: "£") %></p>
                  </div>
                </div>
                <div class="flex justify-end px-4">
                  <%= button_to 'Remove', basket_path(id: key), method: :delete, class: "bg-red-500 hover:bg-red-600 text-white text-sm py-1 px-2 rounded", data: { turbo_confirm: "Are you sure you want to remove this item?" } %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= render partial: "baskets/total", locals: { basket: @basket, basket_total: @basket_total } %>
      </div>
    </div>

    <% unless @basket.empty? %>
      <%= render partial: "baskets/actions", locals: { basket_total: @basket_total } %>
    <% end %>
  </div>

  <%= render "application/delivery" %>
</div>